{% extends 'propertyrader/base.html' %}

{% load static %}
<title>{% block title %}Property Investment Company - Blog{% endblock %}</title>

{% block content %}
    <div id="preloader"></div>

        <section class="breadcrumbs" style="background-image: url(https://24-7propertytraders.site/asset/theme1/images/breadcrumbs/breadcrumbs.jpg);">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center text-capitalize">
                    <h2>Blog</h2>
                    <ol>
                        <li><a href="https://24-7propertytraders.site">Home</a></li>
                        <li>Blog</li>
                    </ol>
                </div>

            </div>
        </section>



        <section class="s-pt-100 s-pb-100">
            <div class="container">
                <div class="row gy-4">

                    <div class="col-md-6 col-lg-4">
                        <div class="blog-box">
                            <div class="blog-box-thumb">
                                <img src="https://24-7propertytraders.site/asset/theme1/images/blog/624d61e797df71649238503.jpg" alt="image">
                            </div>
                            <div class="blog-box-content">
                                <span class="blog-category">Bitcoin</span>
                                <h3 class="title"><a href="https://24-7propertytraders.site/blog/31/similique-totam-harum-rerum">Similique totam harum rerum.</a>
                                </h3>
                                <ul class="blog-meta">
                                    <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#0d6efd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock-5"><circle cx="12" cy="12" r="10"/><polyline points="12 6 12 12 14.5 16"/></svg> 1 year ago</li>
                                    <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#0d6efd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/></svg> 0 Comments</li>
                                </ul>
                                <p class="mb-0 mt-3">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry&#039;s Standard Dummy Text Ever Since</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="blog-box">
                            <div class="blog-box-thumb">
                                <img src="https://24-7propertytraders.site/asset/theme1/images/blog/624d62471f5b51649238599.jpg" alt="image">
                            </div>
                            <div class="blog-box-content">
                                <span class="blog-category">Crypto</span>
                                <h3 class="title"><a href="https://24-7propertytraders.site/blog/39/facere-asperiores-odio-id-porro">Facere asperiores odio id porro.</a>
                                </h3>
                                <ul class="blog-meta">
                                    <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#0d6efd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock-5"><circle cx="12" cy="12" r="10"/><polyline points="12 6 12 12 14.5 16"/></svg> 1 year ago</li>
                                    <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#0d6efd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/></svg>0 Comments</li>
                                </ul>
                                <p class="mb-0 mt-3">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry&#039;s Standard Dummy Text Ever Since</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="blog-box">
                            <div class="blog-box-thumb">
                                <img src="https://24-7propertytraders.site/asset/theme1/images/blog/624d626242e021649238626.jpg" alt="image">
                            </div>
                            <div class="blog-box-content">
                                <span class="blog-category">Coinbase</span>
                                <h3 class="title"><a href="https://24-7propertytraders.site/blog/40/eligendi-distinctio-molestias-ducimus">Eligendi distinctio molestias ducimus.</a>
                                </h3>
                                <ul class="blog-meta">
                                    <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#0d6efd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock-5"><circle cx="12" cy="12" r="10"/><polyline points="12 6 12 12 14.5 16"/></svg> 1 year ago</li>
                                    <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#0d6efd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/></svg> 0 Comments</li>
                                </ul>
                                <p class="mb-0 mt-3">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry&#039;s Standard Dummy Text Ever Since</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    <button type="button" class="sp_btn sp_btn_sm btn-floating" id="btn-back-to-top">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up-square"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="m16 12-4-4-4 4"/><path d="M12 16V8"/></svg>
    </button>

    <script src="https://24-7propertytraders.site/asset/theme1/frontend/js/jquery.min.js"></script>
    <script src="https://24-7propertytraders.site/asset/theme1/frontend/vendor/purecounter/purecounter.js"></script>
    <script src="https://24-7propertytraders.site/asset/theme1/frontend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://24-7propertytraders.site/asset/theme1/frontend/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="https://24-7propertytraders.site/asset/theme1/frontend/js/slick.min.js"></script>
    <script src="https://24-7propertytraders.site/asset/theme1/frontend/vendor/php-email-form/validate.js"></script>
    <script src="https://24-7propertytraders.site/asset/theme1/frontend/js/selectric.min.js"></script>
    <script src="https://24-7propertytraders.site/asset/theme1/frontend/js/main.js"></script>
    <script src="https://24-7propertytraders.site/asset/theme1/frontend/js/iziToast.min.js"></script>
    <script src="https://24-7propertytraders.site/asset/theme1/frontend/js/jquery.uploadPreview.min.js"></script>





    <script>
        "use strict";
        iziToast.success({
            message: "Successfully changed language",
            position: 'topRight'
        });
    </script>







    <script>
        'use strict'


        $(document).on('submit', '#subscribe', function(e) {
            e.preventDefault();
            const email = $('.subscribe-email').val();
            var url = "https://24-7propertytraders.site/subscribe";
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    email: email,
                },
                success: (data) => {
                    iziToast.success({
                        message: data.message,
                        position: 'topRight',
                    });
                    $('.subscribe-email').val('');

                },
                error: (error) => {
                    if (typeof(error.responseJSON.errors.email) !== "undefined") {
                        iziToast.error({
                            message: error.responseJSON.errors.email,
                            position: 'topRight',
                        });
                    }

                }
            })

        });

        var url = "https://24-7propertytraders.site/changeLang";

        $(".changeLang").change(function() {
            if ($(this).val() == '') {
                return false;
            }
            window.location.href = url + "?lang=" + $(this).val();
        });
        //Get the button
        let mybutton = document.getElementById("btn-back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

{% endblock %}